<ion-header>
  <ion-toolbar  color="primary" class="ion-text-center">
    <ion-title size="small">Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p style="text-align: justify;line-height: 1.4;">
    <span style="font-size: larger;"><b>By submitting this form,</b></span>
    <br />
    <b>1.</b>	I confirm that the information I have provided in here is complete and accurate to the best of my knowledge.
    <br />
    <b>2.</b>	I confirm that I fulfil the eligibility criteria for donors set out at Rakthadaan
    <br />
    <b>3.</b>	I confirm that I wish to share the information provided in here with Rakthadaan for the exclusive purpose(s) of matching with patients from the database of patients registered with Rakthadaan and sharing this information directly and solely with the [matched patients and/or their next of-kin.
    <br />
    <b>4.</b>	I agree to hold harmless Rakthadaan for its use of the information for the exclusive purpose(s) set out above.
    <br />
    
  </p>
  <div class="ion-text-center">
    <ion-button size="small" class="ion-text-center" (click)="onSave()" color="secondary">I Agree & Save</ion-button>
    <ion-button size="small" class="ion-text-center" (click)="cancel()" color="medium">Cancel</ion-button>
  </div>
  <br />
</ion-content>