<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <!-- <ion-button color="light" slot="start" (click)="dismissReset()" mode="ios">Close</ion-button> -->
    <ion-title class="ion-text-center">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="onReset()" [formGroup]="resetForm" style=" padding-top: 16%">
        <ion-item color="transparent">
          <ion-label position="floating">
            <strong>*</strong>State
          </ion-label>
          <ion-select formControlName="stateID" interface="popover">
            <ion-select-option value="">Select</ion-select-option>
            <ion-select-option *ngFor="let item of stateList" [value]="item.id">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="transparent">
          <ion-label position="floating">
            <strong>*</strong>Mobile Number
          </ion-label>
          <!-- <ion-input formControlName="userName"></ion-input> -->
          <ion-input type="tel" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
            formControlName="userName"></ion-input>
            <div *ngIf="f.userName.touched && f.userName.errors">
              <div *ngIf="f.userName.errors?.pattern" style="color: red">Enter Valid Mobile Number</div>
          </div>
        </ion-item>
        <br />
        <ion-button type="submit" expand="full" color="primary" [disabled]="resetForm.invalid">Reset</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>