<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
        
  <form (ngSubmit)="onReset()" [formGroup]="pswdForm" style=" padding-top: 16%">
    <ion-item>
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="password" formControlName="oldPassword" maxlength="15"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="newPassword" maxlength="15"></ion-input>
    </ion-item>
    <div *ngIf="f.newPassword.touched && f.newPassword.errors">
      <div *ngIf="f.newPassword.errors.minlength" style="color: red">Invalid Password, minimum length: 8</div>
  </div>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="cnfmPassword" maxlength="15"></ion-input>
    </ion-item>
    <div *ngIf="f.cnfmPassword.touched && f.cnfmPassword.errors">
      <div *ngIf="f.cnfmPassword.errors.minlength" style="color: red">Invalid Password, minimum length: 8</div>
      <div *ngIf="f.cnfmPassword.errors.mustMatch" style="color: red">Passwords not matched</div>
  </div>
   <br />
    <ion-button type="submit" expand="full" color="primary" [disabled]="pswdForm.invalid">Reset</ion-button>
  </form>
  </ion-card-content>
  </ion-card>
</ion-content>