<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Suggestion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" style="background: white">
    <ion-card-content style="background: white">
     <form (ngSubmit)="save()" padding-right [formGroup] ="addSugForm">
        <ion-item>
          <ion-label position="floating">Suggestion</ion-label>
          <ion-textarea
            formControlName="suggest"
            maxlength="2000">
          </ion-textarea>
        </ion-item>
        <ion-item lines="none" class="ion-item-right-margin">
          <ion-button
            size="default"
            slot="end"
            type="submit"
            [disabled]="!addSugForm.valid">Submit</ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
