<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back" mode="md"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Terms & Conditions</ion-title>
    <!-- <ion-button color="light" slot="end" (click)="dismissRegister()" mode="ios">Close</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content has-header="true">
    <ion-card class="welcome-card" style="background: white">
        <ion-card-content style="background: white">
  <h5>To donate blood, please make sure</h5>
  <div class="text-box">
      <br>
    1. You are fit and healthy, and should not be suffering from transmittable diseases
    <br>
    <br> 2. You should weigh a minimum of 50 kg
    <br>
    <br> 3. You should be between 18 and 55 years of age
    <br>
    <br> 4. Your pulse rate is Between 50 and 100 without irregularities
    <br>
    <br> 5. Your Haemoglobin level is at a minimum of 12.5 g/dL
    <br>
    <br> 6. Your Blood pressure is within the range - Diastolic: 50–100 mm Hg, Systolic: 100–180 mm Hg
    <br>
    <br> 7. Your Body temperature is normal, with an oral temperature not exceeding 37.5°C
    <br>
    <br> 8. The time period between successive blood donations should be more than 3 months
    <br>
    <br> 9. You have not been tested HIV positive
    <br>
    <br> 10. Not suffering from cardiac arrest, hypertension, blood pressure, cancer, epilepsy, kidney ailments and diabetes
    <br>
    <br> 11. Not undergone ear/body piercing or tattoo in the past 6 months
    <br>
    <br> 12. You have not undergone immunization in the past 1 month
    <br>
    <br> 13. You are not treated for rabies or received Hepatitis B vaccine in the past 6 months
    <br>
    <br> 14. You have not consumed alcohol in the past 24 hours
    <br>
    <br> 15. You are not pregnant or breastfeeding, had miscarriage in the past 6 months
    <br>
    <br> 16. You have not undergone major dental procedures or general surgeries in the past 1 month
    <br>
    <br> 17. You did not have fits, tuberculosis, asthma and allergic disorders in the past
  </div>
  </ion-card-content>
  </ion-card>

</ion-content>